.btn {
  display: inline-block;
  background-color: $white;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: $bolder;
  border-radius: 5px;
  padding: 1rem 5rem;
  color: $secondary;
  transition: transfrom 0.3s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  &:hover {
    transform: translateY(-3px);
  }
}
.btn--outline {
  border: 1px solid $primary;
}
.btn--med {
  padding: 1rem 4rem;
  font-size: 1rem;
}
.btn--theme {
  background-color: $primary;
  color: $white;
}
.text-primary {
  font-size: 1.4rem;
  color: $white;
  line-height: 1.6;
  letter-spacing: 2px;
  @include responsive(phone) {
    font-size: 1.2rem;
  }
}
.heading-primary {
  font-size: 4.2rem;
  font-weight: $bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  @include responsive(phone) {
    font-size: 2rem;
  }
}

.sec-heading {
  &__main {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 3.5rem;
    @include responsive(phone) {
      font-size: 2.2rem;
    }
    &--lt {
      color: $white;
      &::after {
        content: "";
        background-color: $white !important;
      }
    }
    &::after {
      content: "";
      width: 2rem;
      height: 5px;
      background-color: $primary;
      border-radius: 5px;
      position: absolute;
      top: calc(100% + 1.5rem);
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__sub {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: $secondary--two;
    font-weight: $normal;
    max-width: 50rem;
    width: 95%;
    margin: auto;
    line-height: 1.6;
    @include responsive(phone) {
      font-size: 1rem;
    }
    &--lt {
      color: $white;
    }
  }
}
.sec-pad {
  padding: 8rem 0;
  @include responsive(phone) {
    padding: 6rem 0;
  }
}

.heading-sm {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
}
