$primary: #0062b9;
$secondary: #333;
$secondary--two: #777;
$placeholder--color: #999;
$label--color: #666;
$link-border-clor: #eee;
$white: #fff;
$footer--color: #eee;

$font-family: "Source Sans Pro", sans-serif;
$normal: 400;
$bold: 600;
$bolder: 700;
